# Estatistica descritiva - Penguins

In [10]:
import seaborn as sns 
import pandas as pd

In [15]:
df = sns.load_dataset("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [16]:
informacoes_colunas = {
    "total_bill": {
        "descricao": "O valor total da conta em dólares",
        "tipo_dado": "Quantitativo",
        "subtipo_dado": "Contínuo",
        "coluna": "total_bill"
    },
    "tip": {
        "descricao": "A gorjeta deixada em dólares",
        "tipo_dado": "Quantitativo",
        "subtipo_dado": "Contínuo",
        "coluna": "tip"
    },
    "sex": {
        "descricao": "Sexo do pagante",
        "tipo_dado": "Qualitativo",
        "subtipo_dado": "Nominal",
        "coluna": "sex"
    },
    "smoker": {
        "descricao": "Se o pagante é fumante ou não",
        "tipo_dado": "Qualitativo",
        "subtipo_dado": "Nominal",
        "coluna": "smoker"
    },
    "day": {
        "descricao": "Dia da semana",
        "tipo_dado": "Qualitativo",
        "subtipo_dado": "Ordinal",
        "coluna": "day"
    },
    "time": {
        "descricao": "Refeição (almoço ou jantar)",
        "tipo_dado": "Qualitativo",
        "subtipo_dado": "Nominal",
        "coluna": "time"
    },
    "size": {
        "descricao": "Tamanho da mesa",
        "tipo_dado": "Quantitativo",
        "subtipo_dado": "Discreto",
        "coluna": "size"
    }
}

In [17]:
colunas_numericas = df.select_dtypes(include=['number'])

estatisticas_por_coluna = colunas_numericas.describe()

print("Estatísticas de tendência central e dispersão para cada coluna numérica:")
print(estatisticas_por_coluna)

Estatísticas de tendência central e dispersão para cada coluna numérica:
       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [21]:
colunas_categoricas = df.select_dtypes(include=['object'])

contagem_ocorrencias = {}
for coluna in colunas_categoricas:
    contagem_ocorrencias[coluna] = df[coluna].value_counts()

print("Contagem de ocorrências para cada variável categórica:")
for coluna, contagem in contagem_ocorrencias.items():
    print(f"\nContagem para a variável: {coluna}")
    print(contagem)

Contagem de ocorrências para cada variável categórica: