# Estatistica descritiva - Penguins

In [2]:
import seaborn as sns 
import pandas as pd

In [3]:
df = sns.load_dataset("penguins")
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [8]:
informacoes_colunas = {
    "Species": {
        "coluna": "Species",
        "descricao": "Espécie de pinguim",
        "tipo": "Qualitativo",
        "subtipo": "Nominal"
    },
    "Island": {
        "coluna": "Island",
        "descricao": "Ilha onde o pinguim foi observado",
        "tipo": "Qualitativo",
        "subtipo": "Nominal"
    },
    "Bill Length (mm)": {
        "coluna": "Bill Length (mm)",
        "descricao": "Comprimento do bico em milímetros",
        "tipo": "Quantitativo",
        "subtipo": "Contínuo"
    },
    "Bill Depth (mm)": {
        "coluna": "Bill Depth (mm)",
        "descricao": "Profundidade do bico em milímetros",
        "tipo": "Quantitativo",
        "subtipo": "Contínuo"
    },
    "Flipper Length (mm)": {
        "coluna": "Flipper Length (mm)",
        "descricao": "Comprimento da nadadeira em milímetros",
        "tipo": "Quantitativo",
        "subtipo": "Contínuo"
    },
    "Body Mass (g)": {
        "coluna": "Body Mass (g)",
        "descricao": "Massa corporal do pinguim em gramas",
        "tipo": "Quantitativo",
        "subtipo": "Contínuo"
    },
    "Sex": {
        "coluna": "Sex",
        "descricao": "Sexo do pinguim",
        "tipo": "Qualitativo",
        "subtipo": "Nominal"
    }
}

In [4]:
colunas_numericas = df.select_dtypes(include=['number'])

estatisticas_por_coluna = colunas_numericas.describe()

print("Estatísticas de tendência central e dispersão para cada coluna numérica:")
print(estatisticas_por_coluna)

Estatísticas de tendência central e dispersão para cada coluna numérica:
       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

In [6]:
colunas_categoricas = df.select_dtypes(include=['object'])

contagem_ocorrencias = {}
for coluna in colunas_categoricas:
    contagem_ocorrencias[coluna] = df[coluna].value_counts()

print("Contagem de ocorrências para cada variável categórica:")
for coluna, contagem in contagem_ocorrencias.items():
    print(f"\nContagem para a variável: {coluna}")
    print(contagem)

Contagem de ocorrências para cada variável categórica:

Contagem para a variável: species
species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

Contagem para a variável: island
island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

Contagem para a variável: sex
sex
Male      168
Female    165
Name: count, dtype: int64